.product_background .container-fluid .rows {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  flex-direction: column;
  align-content: center;
}
.product_wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 1rem !important;
}
.product_background {
    background-color: #ffffff;
    padding: 0;
}